GIGACHAT_CREDENTIALS=MDFhMDIyNmQtMDVlMC03NGIyLThhNzMtYjhiZmU2NGJhNmE2OmU1ZTViNDliLTZiMTctNGRhMS05MWQzLWU2ZjYyMWUyZTM4Zg==
VK_TOKEN=vk1.a.DbVozoATH3f8NYKQZLARuhJ9jL0dJz5-AefH8z63VegbWcVIzUVD1bXUNP-8I-uPhFHL8aCw-riC-6jllDkqDLMmkozvoDJx2IDTgb5bKrOJpLOn0ZM49JJ5BKX2sDKihA8xhDlir5rGM-ZXHeksvVadLKGkFwxKyL_pwadE4x3Js_XGWcaqMz3cOI2ma8xqKNjZv1PJRHYB7y1UkOu_Fw
VK_GROUP_ID=154840474